node_modules
Dist
dist
.idea
.vscode/*.log
.DS_Store
coverage
.env*
# Builds
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json

# Coverage
*.lcov

# Misc
Thumbs.db
